// Specific CSS for your home-page
.home_body {
  padding: 5%;
}

.home_body > a {
  text-decoration: none;}

.home_profile_body > h1 {
  text-align: left;
  margin-bottom: 0;
}

.hpb-name {
  font-size: 3vh;
}

.photo_bio {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // margin-bottom: 15px;
  align-items: center;
  height: 18vh;
}

.user_bio {
  width: 65%;
  height: fit-content;
  font-size: small;
  padding: 1vh 0;
}

.button_groups {
  margin-bottom: 10px;
}

.button_groups .btn {
  background-color: #1B1C1E;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-bottom: 5%;
  // border-bottom: 2px solid black;
  // border-right: 2px solid black;
  // border-top: 2px solid grey;
  // border-left: 2px solid grey;
  border-radius: 10px;
  position: relative;
  margin-right: 7px;
}

.button_groups .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

.project_box .project_title_box {
  border-radius: 5px 5px 0 0;
  border: 1px solid #000000;
  background-color: #000000;
  margin-top: 5%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.ptb-trophy-like {
  display: flex;
  align-items: baseline;
}

.ptb_title {
  margin: 7px;
  color: #FFFFFF;
}

.project_title {
  margin: 5px;
  color: rgb(0, 0, 0);
}

.project_descr {
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(255, 255, 255);
  height: 13vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 3%;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
}

.fa-circle-plus {
  color: #DBF193;
  font-size: xx-large;
  display: inline-block;
  width: fit-content;
  text-align:center;
  position: fixed;
  bottom: 10%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

.modal-content {
  background-color: #F5F5F5;
  text-align: center;
}

.b-home-pop {
  background-color: #DBF193;
  width: 130px;
  height: 7vh;
  margin: 5%;
  border-radius: 10px;
}

.b-home-pop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

.b-home-pop > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.b-home-body {
  display: flex;
  position: static;
}

.btn-pluscir {
  display: flex;
  justify-content: center;
}
