// Specific CSS for your home-page
.home_body {
  padding: 5%;
}

.home_body > a {
  text-decoration: none;}

.home_profile_body > h1 {
  text-align: left;
  margin-bottom: 0;
}

.hpb-cont {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.hpb-name {
  font-size: 3vh;
  text-align: left;
}

.photo_bio {
  display: flex;
  width: 100%;
  // justify-content: space-between;
  // margin-bottom: 15px;
  align-items: center;
  height: auto;
  margin-bottom: 5%;
}

.user_bio {
  width: 100%;
  height: fit-content;
  font-size: small;
  padding: 1vh 0;
}

.button_groups {
  margin-bottom: 10px;
}

.button_groups .btn {
  background-color: #1B1C1E;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-bottom: 5%;
  // border-bottom: 2px solid black;
  // border-right: 2px solid black;
  // border-top: 2px solid grey;
  // border-left: 2px solid grey;
  border-radius: 10px;
  position: relative;
  margin-right: 7px;
}

.button_groups .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193,#ffd2ff);
}

.project_box .project_title_box {
  border-radius: 5px 5px 0 0;
  border: 1px solid #000000;
  background-color: #000000;
  margin-top: 5%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.project_title_box .ptb_title {
  margin: 7px;
  color: #FFFFFF;
}

.ptb-trophy-like {
  display: flex;
  align-items: baseline;
}

// .project_title {
//   margin: 5px;
//   color: rgb(255, 255, 255);
// }

.project_descr {
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(255, 255, 255);
  height: 13vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 3%;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  // font-size: small;
}

.fa-circle-plus {
  color: #DBF193;
  font-size: xx-large;
  display: inline-block;
  width: fit-content;
  text-align:center;
  position: fixed;
  bottom: 10%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid #1B1C1E;
  // border-bottom: 2px solid black;
  // border-right: 2px solid black;
  // border-top: 2px solid grey;
  // border-left: 2px solid grey;
}

.modal-content {
  background-color: #F5F5F5;
  text-align: center;
}

.bh-pop {
  border: none;
  background-color: #F5F5F5;
  text-decoration: underline;
}

.b-home-pop {
  background-color: #DBF193;
  width: auto;
  height: 5vh;
  margin: 5%;
  border-radius: 10px;
}

.b-home-pop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, #ffd2ff);
}

.b-home-pop > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.b-home-body {
  // display: flex;
  position: static;
  flex-direction: column;
  margin: auto;
}

.btn-pluscir {
  display: flex;
  justify-content: center;
}

.sp-group {
  display: flex;
  justify-content: left;
}


.sp-group legend {
  font-size: large;
  width: 260%;
}

.sp-box label {
  display: flex;
  justify-content: flex-start;
}

.sp-box {
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  padding: 5%;
}
