// Specific CSS for your home-page
.home_body {
  padding: 5%;
}

.home_body > a {
  text-decoration: none;}

.photo_bio {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user_bio {
  width: 62%;
  height: 100%;
}

.button_groups {
  margin-bottom: 10px;
}

.button_groups .btn {
  background-color: #F7D30B;
  font-weight: bold;
  text-decoration: none;
  color:rgb(0, 0, 0);
  margin-bottom: 3%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

.project_box .project_title_box {
  border-radius: 5px 5px 0 0;
  border: 1px solid #A6D3F2;
  background-color: #A6D3F2;
  margin-top: 5%;
}

.ptb_title {
  margin: 7px;
  color: rgb(0, 0, 0);
}

.project_title {
  margin: 0px;
  color: rgb(0, 0, 0);
}

.project_descr {
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(255, 255, 255);
  height: 90px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 3%;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
}

.fa-circle-plus {
  color: #F7D30B;
  font-size: xx-large;
  display: inline-block;
  width: fit-content;
  text-align:center;
  position: fixed;
  bottom: 10%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

.modal-content {
  background-color: #ffffff;
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.b-home-pop {
  background-color: #F7D30B;
  width: 130px;
  height: 40px;
  margin: 5%;
}

.b-home-pop > a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.btn-pluscir {
  display: flex;
  justify-content: center;
}
