.set-page {
  padding: 5%;
  font-size: x-large;
}

.fa-user {
  margin-right: 7vw;
}

.fa-question {
  margin-right: 8vw;
}

.fa-instagram {
  margin-right: 6vw;
}

.fa-envelope {
  margin-right: 5vw;
}

.fa-exclamation {
  margin-right: 9vw;
}

.fa-right-from-bracket {
  margin-right: 5vw;
}

.logout {
  align-items: center;
}

#insta:hover {
  color: black;
}
