<div class="gi-all">
  <div class="gi-title-arrow">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
    <% end %>

    <h1 class="gi-title">Join a group</h1>
  </div>
  <div class="gi-list">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do %>
        <div  id="icons">
          <button class="ms-3"><%= cl_image_tag group.photo.key, height: 40, width:40 , crop: :fill %></button>
            <p class="ms-3"><%= group.name %></p>
          <%# <div class= "container justify-content-left text-dark gi-text" id="sportname" style="color:white; align-items: right;"> %>
          <%# </div> %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# class= "container d-flex justify-content-center" %>
<%# style="border: 1px solid; color: #DBF193; background-color: #DBF193; justify-content:center; space-between; border-radius: 10px; display: flex; column-gap: 10px; justify-content: center; height: 60px; width: 60px; padding-top: 10px; padding-right: 13px; padding-left: 50px; padding-bottom:10px" %>
