<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo_image">
    <%= image_tag "Logo.png" %>
  </div>
  <div class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </div>

</div>
