.goal_sh {
  padding: 5%;
}

.goal_sh_title {
  display: flex;
  margin-bottom: 5%;
}

.goal-sh-title {
  text-align: left;
}

.goal-sh-desc {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10%;
  color: black;
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
}

.gsh-dlog {
  background-color: #000000;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.gsh-text {
  margin-bottom: 0;
  padding: 2%;
  color: rgb(255, 255, 255);
}

.gsh-content {
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
  color: black;
  padding: 3%;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(218, 218, 218)black;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  // font-size: small;
}

.gsh-content-image > img {
  display: flex;
  margin: auto;
}

.gsh-cont-del {
  display: flex;
  justify-content: end;
  margin-bottom: 0%;
  // width: 40vh;
  font-size: medium;
}

.form-group-goal {
  text-align: left;
}

button.close {
  background: none;
  border: 0;
  font-size: xx-large;
  color: grey;
}

.sp-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, #ffd2ff);
}

.sp-box div {
  font-size: medium;
}
// h1 {
//   color:white;
//   font-size: 40px;
// }

// #status {
//   background-color: #8D4D9A;
//   height: 5vw;
//   width: 40vw;
//   margin-left: 30vw;
//   margin-left: 30vw;
//   border-color:#8D4D9A !important;
//   border: 2px !important;
//   position: relative;
//   margin-bottom: 0 !important;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// #content {
//   height: 8vw;
//   width: 40vw;
//   margin-left: 10vw;
//   background-color: white;
//   border-color:#8D4D9A !important;
//   border: 5px;
//   border-style: solid;
//   margin-bottom: 10px;
//   margin-left: 30vw;
//   position: absolute;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// #description {
//   height: 10vw;
//   width: 40vw;
//   margin-left: 30vw;
//   background-color: white;
//   margin-bottom: 10px;
//   margin-left: 30vw;
//   border-color:#8D4D9A !important;
//   border: 5px;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// .text {
//   color:black;
//   font-size: 15px;
// }

// #link {
//   color:black;
// }

// #button {
//   margin-left: 25vw;
//   margin-right: 25vw;
//   margin-top: 110px;
// }

// #round {
//   align-items: center;
//   background-color: #0C2641;
//   border:#0C2641;
//   margin-left: 5vw;
// }

// .link {
//   text-align:right;
//   padding-right: 10px;
//   text-decoration: underline;
// }
