<div class="set-page">
  <h1 class="mb-4">Settings</h1>
  <p class="d-flex logout"><i class="fa-solid fa-user"></i> Account</p>
  <p class="d-flex logout"><i class="fa-solid fa-question"></i> FAQ</p>
  <p class="d-flex logout"><i class="fa-brands fa-instagram"></i> Follow us</p>
  <p class="d-flex logout"><i class="fa-solid fa-envelope"></i> Contact us</p>
  <p class="d-flex logout"><i class="fa-solid fa-exclamation"></i> Terms of use</p>
  <p class="d-flex logout"><i class="fa-solid fa-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
</div>
