<p><i class="fa-solid fa-user"></i> Account</p>
<p><i class="fa-solid fa-question"></i> FAQ</p>
<p><i class="fa-brands fa-instagram"></i> Follow us</p>
<p><i class="fa-solid fa-envelope"></i> Contact us</p>
<p><i class="fa-solid fa-exclamation"></i> Terms of use</p>
<p><i class="fa-solid fa-right-from-bracket"></i> Log out</p>
