<div data-controller="like" data-like-post-id-value="<%= post.id %>" class="<%= user_liked ? 'red' : '' %>" data-like-target="count" data-like-heart-id-by-current-user-value="<%= post.heart_by_user(user).id if user_liked %>">
  <i class="fa-solid fa-thumbs-up" data-action="click->like#toggle" ></i>
  <p><%= post.hearts.count %></p>
</div>
