.g_show {
  padding: 5%;
  margin-bottom: 45px;
}

.g-show-title {
  display: flex;
  margin-bottom: 10%;
}

.g-show-name {
  margin: auto;
  color: rgb(0, 0, 0);
}

.b-create-memb {
  background-color: #DBF193;
  border-radius: 10px;
  margin-bottom: 2%;
  // border-bottom: 2px solid rgb(0, 0, 0);
  // border-right: 2px solid rgb(0, 0, 0);
  // border-top: 2px solid rgb(128, 128, 128);
  // border-left: 2px solid rgb(128, 128, 128);
  height: 30px;
  color: rgb(0, 0, 0);
  position: relative;
  border: 1px solid #c1baba;
}

.b-create-memb::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, #ffd2ff);
}

.b-leave-gr {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 2%;
  // border-bottom: 2px solid black;
  // border-right: 2px solid black;
  // border-top: 2px solid grey;
  // border-left: 2px solid grey;
  position: relative;
  // left: 70%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #c1baba;
}

.b-leave-gr::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, #ffd2ff);
}

.group-post-head {
  border-radius: 10px 10px 0 0;
  color: white;
}

.g-post-name {
  text-decoration: none;
}

.group-post-head {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.group-post-head > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 7px;
}

.group-post-cont {
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  padding: 3%;
}

// .group-post-cont p {
//   font-size: small;
// }

.group-post-cont > img {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
}

.g-post-del {
  display: flex;
  justify-content: right;
  height: 3vh;
  // width: 39vh;
}

.g-post-del .show-message {
  margin-left: 6%;
}

a {
  text-decoration: none;
  color: black;
}

.likes {
  margin-left: 5%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.likes > div {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
}

.likes > div > p {
  margin-left: 5px;
}

.likes > p {
  margin-left: 5px;
}


.b-home-body label {
  display: flex;
  justify-content: left;
}
