.g_show {
  padding: 5%;
  margin-bottom: 45px;
}

.g-show-title {
  display: flex;
  margin-bottom: 2%;
}

.g-show-name {
  margin: auto;
  color: rgb(0, 0, 0);
}

.b-create-memb input {
  background-color: #F7D30B;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 2%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  position: absolute;
  left: 82%;
  top: 10%;
}

.b-leave-gr {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  position: relative;
  left: 70%;
  height: 40px;
}

.group-post-head {
  border-radius: 10px 10px 0 0;
  color: white;
}

.g-post-name {
  text-decoration: none;
}

.group-post-head {
  background-color: #A6D3F2;
  color: black;
}
.group-post-head > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.group-post-cont {
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  padding: 2%;
}

.g-post-del {
  display: flex;
  justify-content: right;
  height: 3vh;
}

.g-post-del .show-message {
  margin-left: 6%;
}

a {
  text-decoration: none;
  color: black;
}

.likes {
  margin-left: 5%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
