.gi-list {
  width: 77%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  font-size: 8;
  color: white;
}

#icons {
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color:#D5B3DC;
  background-color: #D5B3DC;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  height: 50;
  width: 50;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
