.gi-all {
  padding: 5%;
}

.gi-title-arrow {
  display: flex;
  margin-bottom: 5%;
}

.gi-title {
  margin: auto;
  margin-bottom: 5%;
}

.gi-list {
  // width: 85vw;
  // height: 72vh;
  column-count: 2;
  display: block;
  padding: 3%;
}

.gi-list button {
  padding: 5%;
  border-radius: 10%;
  background-color: #DBF193;
  border: none;
  position: relative;
  border: 1px solid #c1baba;
}

.gi-list button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  font-size: 8;
  color: rgb(0, 0, 0);
}

#icons {
  display: flex;
  width: 50;
  height: 50;
  align-items: baseline;
  margin-bottom: 10%;
  // justify-content: center;
  // border: 1px solid;
  // color:#D5B3DC;
  // background-color: #D5B3DC;
  // justify-content: center;
  // border-radius: 10px;
  // padding-top: 10px;
  // padding-right: 10px;
  // padding-bottom: 10px;
  // padding-left: 10px;
}

.gi-text {
  text-align: left;
}
