.project-new-main {
  display: flex;
  padding: 5%;
}


.pn_title {
  margin: auto;
}

.project-new-body {
  background-color: #FEFFFB;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  // box-shadow: 0px 3px 3px grey;
  color: rgb(0, 0, 0);
  position: relative;
}

.project-new-body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, #f89ef8)
}

.button-new .btn {
  background-color: #000000;
  text-decoration: none;
  color:rgb(255, 255, 255);
  // margin-bottom: 5%;
  border-radius: 10px;
  position: relative;
  // margin-right: 7px;
}

.button-new .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

.button-new {
  text-align: center;
}
