.p_title {
  margin: 5% 0 5% 0;
}

.project-new-body {
  background-color: #D5B3DC;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
}

.btn_create_p {
  background-color: #F7D30B;
  text-decoration: none;
  border-radius: 10px;
}

.button-new {
  text-align: center;
}

.button-new input{
  font-weight: bold;
}
