.project-new-main {
  display: flex;
  padding: 5%;
}


.pn_title {
  margin: auto;
}

.project-new-body {
  background-color: #000000;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0px 3px 3px grey;
  color: rgb(255, 255, 255);
}

.btn_create_p {
  background-color: #DBF193;
  text-decoration: none;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

.button-new {
  text-align: center;
}
