.project_show {
  padding: 5%;
}

.project-show-main {
  display: flex;
  margin-bottom: 2%;
}

.fa-arrow-left{
  color: rgb(255, 255, 255);
}
.project-show-title {
  margin: auto;
}

.project-show-desc {
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
  padding: 2%;
}

.p-show-desc-del {
  text-align: right;
  margin-bottom: 0;
}

.text-danger {
  text-decoration: none;
}

.p-show-end-date {
  background-color: #0C2641;
  color: rgb(255, 255, 255);
}

.p-show-goal-box {
  background-color: #8D4D9A;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 5%;
}

.p-show-goal-del {
  text-align: right;
  margin-bottom: 0;
}

.b-create-goal {
  float: right;
  background-color: #F7D30B;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.modal-body-create-g {
  background-color: #D5B3DC;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
}

.b-c-goal {
  background-color: #F7D30B;
}
.b-c-goal > input{
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.modal-body-edit-p {
  background-color: #D5B3DC;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
}
