.project_show {
  padding: 5%;
}

.project-show-main {
  display: flex;
  margin-bottom: 5%;
}

.fa-arrow-left{
  color: rgb(255, 255, 255);
}
.project-show-title {
  text-align: left;
}

.project-show-desc {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
}

.ps-icon {
  display: flex;
  margin: -8px;
  justify-content: end;
}

.ps-cbox {
  display: flex;
  align-items: baseline;
  height: 26px;
}

.p-show-desc-del {
  text-align: right;
  margin-bottom: 0;
}

.text-danger {
  text-decoration: none;
}

.p-show-end-date {
  background-color: #F5F5F5;
  color: rgb(0, 0, 0);
  margin-left: 8px;
}

.p-show-goal-box {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 5%;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
}

.p-show-goal-del {
  display: flex;
  justify-content: end;
  margin-bottom: 0;
}

.b-create-goal {
  float: right;
  background-color: #F7D30B;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 5%;
}

.modal-body-create-g {
  background-color: #000000;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0px 3px 3px grey;
  color: white;
  text-align: left;
}

.b-c-goal {
  background-color: #DBF193;
  border-radius: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(128, 128, 128);
  border-left: 2px solid rgb(128, 128, 128);
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  margin: auto;
}
.b-c-goal > input{
  color: rgb(0, 0, 0);
}

.modal-body-edit-p {
  background-color: #000000;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.btn-primary {
  color: rgb(255, 255, 255);
}

.psg-title {
  border-bottom: 2px solid rgb(255, 255, 255);
}

// timeline

.timeline__event {
  color: black;
  border: 1px solid;
  border-color: black;
  display: flex;
  align-self: center;
  margin-top: 15px;
}

.timeline__event:nth-child(2n+1) {
  display: flex;
  flex-direction: row-reverse;
}

.timeline__event__icon {
  border: 1px solid;
  border-color: black;
  width: 15vw;
}

.timeline__event__date {
  border: 1px solid;
  border-color: black;
  width: 35vw;
}

.timeline__event__content {
  border: 1px solid;
  border-color: black;
  width: 50vw;
}
