<h1>Create a New Post</h1>

<div class="container py-5">
  <div class="post">
    <div class="col-12 col-md-12 offset-lg-3">
      <div class="bg-gray rounded p-3 shadow">
        <h2>What would you like to share?</h2>
          <%= link_to 'Post', group_path(@group) =%>
      </div>
    </div>
  </div>
<div>
