.navbar-lewagon {
  justify-content: center;
  background: #0C2641;
  height: 65px;
}

.navbar-lewagon .navbar-brand img {
  display: block;
  width: 100%;
  height: auto;
}

.nav-link {
  justify-content: right;
  color: white;
}
