.back-arrow {
  margin: 8% 5% 8% 5%;
}

.container-np {
  background-color: #F7D78C;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
}

.np-form h2 {
  text-align: center;
}

.btn-np {
  background-color: #AFC3A8;
  border-radius: 10px;
}

.btn-cp {
  text-align: center;
}

.btn-np input {
  font-weight: bold;
}
