.back-arrow {
  margin: 8% 5% 8% 5%;
}

.container-np {
  background-color: #F5F5F5;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  // box-shadow: 0px 3px 3px grey;
  color: #1B1C1E;
  position: relative;
}

.container-np::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

.np-form h2 {
  text-align: center;
}

.btn-np {
  background-color: #1B1C1E;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  color: #F5F5F5;
}

.btn-np::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(#DBF193, rgb(248, 158, 248));
}

.btn-np > input {
  color: #F5F5F5;
}

.btn-cp {
  text-align: center;
}

