.back-arrow {
  margin: 8% 5% 8% 5%;
}

.container-np {
  background-color: #F7D78C;
  padding: 5%;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0px 3px 3px grey;
}

.np-form h2 {
  text-align: center;
}

.btn-np {
  background-color: #AFC3A8;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

.btn-cp {
  text-align: center;
}

.btn-np input {
  font-weight: bold;
}
